 <!-- Footer -->
 <footer>
    <div class="d-flex justify-content-between mb-3 mt-5">
        <!-- Copyright Info -->
            <div class="align-left">
                
                    <a class="font-weight-bold small kf-blue kf-links" href="#">Settings</a> |
                
                <a class="font-weight-bold small kf-blue kf-links" href="/">Help</a> |
                <a class="font-weight-bold small kf-blue kf-links" href="/">Feedback</a>
            </div>
            <div class="align-right small">
                &copy; 2019 <a class="font-weight-bold kf-blue kf-links" href="https://github.com/tyler-paavola">Tyler Paavola</a>
            </div>
        <!-- END Copyright Info -->
    </div>
</footer>