<div class="container">
  <app-header (featureSelected)="onNavigate($event)"></app-header>
  <hr>
  <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
  <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first element</button>
  <hr>
  <div class="container" *ngIf="loadedFeature === 'owner'">
    <div class="row">
      <div class="col">
        <p>Owners: <app-owner-element *ngFor="let ownerElement of ownerElements" [owner]="ownerElement"> </app-owner-element>
        </p>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="loadedFeature === 'pet'">
    <div class="row">
      <h3>Pets</h3>
    </div>
    <div class="row">
      <app-pet-element *ngFor="let petElement of petElements" [name]="petElement.name">
        <p #contentParagraph class="card-text">
          Owner: {{ petElement.owner }}
        </p>
        <a href="#" class="btn btn-success">Feed</a>
      </app-pet-element>
    </div>
  </div>
  <hr>
  <app-dashboard (newPet)="onPetAdded($event)" (newOwner)="onOwnerAdded($event)"></app-dashboard>
  <hr>
  <app-footer class="mt-auto"></app-footer>
</div>
