<div class="row">
  <div class="col-md-3">
    <h3>New Owner</h3>
    <label>Owner Name</label>
    <input type="text" class="form-control" [(ngModel)]="newOwnerName">
    <label>Owner Email</label>
    <input type="email" class="form-control" [(ngModel)]="newOwnerEmail">
    <br />
    <button class="btn btn-primary" (click)="onCreateOwner()">Add owner</button>
  </div>

  <div class="col-md-3">
    <h3>New Pet</h3>
    <label>Pet Name</label>
    <input type="text" class="form-control" [(ngModel)]="newPetName">
    <label>Pet Owner</label>
    <input type="text" class="form-control" [(ngModel)]="newPetOwner">
    <br />
    <button class="btn btn-primary" (click)="onCreatePet()">Add pet</button>
  </div>
</div>
