<div class="row">
  <div class="col">
    <h1>My dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>New Owner</h3>
    <label>Owner Name</label>
    <input type="text" class="form-control" #ownerNameInput>
    <label>Owner Email</label>
    <input type="email" class="form-control" #ownerEmailInput>
    <br />
    <button class="btn btn-primary" (click)="onCreateOwner(ownerNameInput, ownerEmailInput)">Add owner</button>
  </div>
  <div class="col-md-3">
    <h3>New Pet</h3>
    <label>Pet Name</label>
    <input type="text" class="form-control" [(ngModel)]="newPetName">
    <label>Pet Owner</label>
    <input type="text" class="form-control" [(ngModel)]="newPetOwner">
    <br />
    <button class="btn btn-primary" (click)="onCreatePet()">Add pet</button>
  </div>
</div>
